<form action="/day_of_week" method="post">
  Enter you birth date:
  <input type="text" name="birthdate" value="YYYY-MM-DD">
  <input type="submit">
</form>


<p> You were born on a <%=@week_day %> </p>