  <div class="jumbotron sections">
    <div class="container">
      <div class="transbox">
        <div class="headline-box">
        <h1> The Birthday App </h1>
      </div>
      </div>
    </div>
  </div>

<!-- 
    <p> 
      Enter you birth date: <input type="text" name="birthdate" value="YYYY-MM-DD">
      <form action="/day_of_week" method="post">
        <input type="submit" name="birthdate" value="Day of the Week">
      </form>
      <form action="/top_music" method="post">
        <input type="submit" name="birthdate" value="Top Song">
      </form>
    </p>

<form action="/my-handling-form-page" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_email" />
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>
    
    <div class="button">
        <button type="submit">Send your message</button>
    </div>
</form>

<form action="demo_form.asp">
  <label for="male">Male</label>
  <input type="radio" name="gender" id="male" value="male"><br>
  <label for="female">Female</label>
  <input type="radio" name="gender" id="female" value="female"><br>
  <label for="other">Other</label>
  <input type="radio" name="gender" id="other" value="other"><br><br>
  <input type="submit" value="Submit">
</form>
 -->