    <p> 
      <form action="/day_of_week" method="post">
        Enter you birth date: <input type="text" name="birthdate" value="YYYY-MM-DD">
        <input type="submit">
      </form>
      <form action="/top_music" method="post">
        Enter you birth date: <input type="text" name="birthdate" value="YYYY-MM-DD">
      <input type="submit">
    </p>

