<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>birthday is significant></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!--  <script src="search.js" type="text/javascript"></script> -->
    <!--<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script> -->
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="scripts.js?v=5"></script>
<style>
  .sections {
    text-align: center;
  }
  .jumbotron {
    height: 600px;
    background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQxDn-mwwNVVD2iB172tUXEZshzQ10XTakiKnbP2QhTh6MkSCEo);
  }
  .transbox {
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    /*margin-top: 20%;*/
    
}
  .navbar {
    background-color: #8229d3;

  }

.nv-text{
  color: black !important;
}
  </style>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li> <a class="nv-text" href="/day_of_week">Day of the Week</a></li>
      <li> <a class="nv-text" href="/top_music">Top Song</a></li>
      <li> <a class="nv-text" href="#historical-events">Historical Events</a></li>
    </ul>
  </nav>

  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app by <a href="http://bobsmiles.website">RG Smiles JR</a>.</small></p>
  </footer>
</body>
</html>