<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Number One Song</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="scripts.js?v=7.64"></script>
  <link rel="stylesheet" type="text/css" href="styles.css?v=2.13">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li> <a class="nv-text" href="/day_of_week">Day of the Week</a></li>
        <li> <a class="nv-text" href="/top_music">Top Song</a></li>
        <li> <a class="nv-text" href="#historical-events">Historical Events</a></li>
      </ul>
    </div>
  </nav>

  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app by <a href="http://bobsmiles.website">RG Smiles JR</a>.</small></p>
  </footer>
</body>
</html>