<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>birthday is significant></title>
  <link href="#" rel="stylesheet">
  <link href="#" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="#">BIRTHDAY APP</a></h1>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app for <a href="bobsmiles.website">RG Smiles JR</a>.</small></p>
  </footer>
</body>
</html>