      <form action="/top_music" method="post">
        Enter you birth date:
        <input type="text" name="birthdate" value="YYYY-MM-DD">
        <input type="submit">
      </form>
<h2> The top song on the music charts on the day you were born was </h2>

<p> <%= @song %> </p>