html, body, h1, p, ol, ul, li, a { padding: 0; border: 0; margin: 0;} 
#main {
  margin-top: 5em;
}
.sections {
    text-align: center;
  }
.jumbotron {
    height: 600px;
    background: url();
  }
.music_info {
  margin-top: 10px;
}
.results{
  margin-top: 10px;
}
.navbar {
    background-color: #8AB9F1;
}
.nv-text{
  color: black !important;
}